<!DOCTYPE html>
<html>
<head>
  <title>Qa</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
   <div id="user_header">
    <%= link_to "Home", root_path %>
    <% if current_user %>
      Logged in as <%= current_user.email %>. <br />
      <%= link_to "Sign Out", destroy_user_session_path, method: :delete %>
    <% else %>
      <%= link_to "Sign Up", new_user_registration_path %> or
      <%= link_to "Sign In", new_user_session_path %>
    <% end %>
  </div>

<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>

You know you're getting the best answers because ANYBODY CAN ANSWER ANYTHING.

<%= yield %>

</body>
</html>
